<div class="room-list-wrapper" [ngClass]="{'dark': theme === 'dark', 'light': theme === 'light'}">
    <div class="list-title">
        <p>Room-list</p>
    </div>
    <div class="search-rooms">
        <div class="add-btn" (click)="createRoom()" matRipple>
            <mat-icon>add</mat-icon>
            <span>Create new room</span>
        </div>
        <input matInput placeholder="Search room..."
               [(ngModel)]="searchText"
               *ngIf="!isSearchRoomList">
        <input matInput placeholder="Search room..."
               [(ngModel)]="searchText"
               (input)="searchRooms()"
               *ngIf="isSearchRoomList">
        <mat-slide-toggle class="searchToggle"
                          (change)="toggleSearch()">
            {{isSearchRoomList ? 'Globally' : 'Locally'}}
        </mat-slide-toggle>
    </div>
    <div class="room-list">
        <perfect-scrollbar [config]="config">
            <mat-list *ngIf="!isSearchRoomList">
                <mat-list-item class="room-list-item" *ngFor="let room of rooms | search: searchText"
                               (click)="goToRoom(room)">
                    <mat-divider></mat-divider>
                    <div class="unread" *ngIf="unread[room._id] > 0"><span>{{unread[room._id]}}</span></div>
                    <div class="room-title-wrapper">
                        <span class="room-title">{{room.title}}</span>
                        <small *ngIf="room._id !== 'common'">Last action: {{room.lastAction | date: 'HH:mm:ss | dd.MM.yy'}}</small>
                    </div>

                </mat-list-item>
            </mat-list>
            <mat-list *ngIf="isSearchRoomList">
                <mat-list-item class="room-list-item" *ngFor="let room of searchedRooms">
                    <mat-divider></mat-divider>
                    <div class="room-title-wrapper">
                        <p class="room-title">{{room.title}}</p>
                    </div>
                </mat-list-item>
            </mat-list>
        </perfect-scrollbar>
    </div>
</div>
