.smiles-wrapper {
    user-select: none;
    display: flex;
    height: 100%;
    width: 100%;
    //background: rgb(51, 51, 70);
    background: transparent;
    flex-direction: column;

    .title {
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat Alternates', sans-serif;
        align-items: center;
        width: 100%;
        color: white;
        height: 48px;
        min-height: 48px;
        background: rgba(0, 0, 0, 0.51);

        span {
            font-family: Roboto, "Noto Color Emoji" ,"Helvetica Neue", sans-serif;
        }

        .close-sidenav {
            font-size: 24px;
        }

        p {
            margin: 0;
            font-weight: 400;
            font-size: 30px;
        }
    }

    .smiles-list {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;
        align-content: space-between;

        .smile-item {
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            background: rgba(0, 0, 0, 0.51);
            width: 65px;
            height: 65px;
            border-radius: 50px;

            .smile-img {
                transition: 0.5s;
                transform: scale(1);
            }

            &:hover {
                transform: scale(1.13);
                transition: 0.3s;

                .smile-img {
                    transition: 0.5s;
                    transform: scale(2);
                }
            }


        }
    }
    ::ng-deep .ps__thumb-y {
        background-color: rgba(0, 0, 0, 0.73);
    }
}

.light {
    transition: 0.3s;
    background-color: #e6e7f2;
    .title {
        background: rgba(0, 0, 0, 0.37);
        color: black;
    }

    .smiles-list {
        .smile-item {
            background: rgba(0, 0, 0, 0.37);
        }
    }
}

.dark {
    transition: 0.3s;
    background-color: #273038;
    .title {
        background: rgba(0, 0, 0, 0.51);
        color: white;
    }

    .smiles-list {
        .smile-item {
            background: rgba(0, 0, 0, 0.51);
        }
    }
}

