.smiles-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    //background: rgb(51, 51, 70);
    background: transparent;
    flex-direction: column;

    .title {
        display: flex;
        justify-content: center;
        font-family: 'Montserrat Alternates', sans-serif;
        align-items: center;
        width: 100%;
        color: white;
        height: 47px;
        background: rgba(0, 0, 0, 0.51);

        p {
            font-weight: 300;
            font-size: 30px;
        }
    }

    .smiles-list {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;
        align-content: space-between;

        .smile-item {
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            background: rgba(0, 0, 0, 0.51);
            width: 65px;
            height: 65px;
            border-radius: 50px;

            .smile-img {
                transition: 0.5s;
                transform: scale(1);
            }

            &:hover {
                transform: scale(1.13);
                transition: 0.3s;
                box-shadow: 0 0 10px white;

                .smile-img {
                    transition: 0.5s;
                    transform: scale(2);
                }
            }


        }
    }
    ::ng-deep .ps__thumb-y {
        background-color: rgba(0, 0, 0, 0.73);
    }
}

