/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Montserrat+Alternates:300,400,500,600|Quicksand:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

html, body {
    height: 100%;
    overflow: hidden !important;
}
body { margin: 0; font-family: Roboto, "Noto Color Emoji" ,"Helvetica Neue", sans-serif; }

.mat-menu-panel {
    background: #e6e7f2;

    .mat-icon {
        color: black;
    }

    .mat-menu-item {
        font-family: 'Quicksand', "Noto Color Emoji" ,"Helvetica Neue", sans-serif;
        font-weight: 500;
    }
}
