.chat-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    //background: linear-gradient(90deg, #3b4b5c, rgb(51, 51, 70));

    ::ng-deep .mat-drawer-inner-container {
        overflow: hidden;
    }

    ::ng-deep .mat-drawer-side {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .sidenav-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .sidenav-content {
        display: flex;
        height: 100%;
        width: 300px;
        align-items: center;
        justify-content: center;
    }

    .room-wrapper {
        overflow: hidden;
    }

    .room-list {
        user-select: none;
        border: 0 !important;
        cursor: pointer;
        position: absolute;
        left: 50px;
        background: rgba(0, 0, 0, 0.18);
        width: 50px;
        height: 47px;

        mat-icon {
            transition: 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            font-size: 40px;
            width: 100%;
            height: 100%;
        }
    }
}

::ng-deep .mat-badge-medium.mat-badge-before .mat-badge-content{
    left: -23px;
}

::ng-deep .mat-badge-medium.mat-badge-above .mat-badge-content{
    top: -9px;
}

::ng-deep .mat-tab-label {
    font-size: 22px;
    user-select: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}

::ng-deep .mat-tab-group {
    width: 100%;
}

::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}

::ng-deep .mat-tab-header {
    margin-left: 100px;
    border: 0 !important;
    height: 47px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #f3a311;
}

.light {
    transition: .3s;
    background: #e6e7f2;

    ::ng-deep .mat-drawer {
        background: #e6e7f2;
    }

    ::ng-deep .mat-drawer-container {
        transition: 0.3s;
        background: #e6e7f2;
    }

    .add-btn {
        background: rgba(0, 0, 0, 0.38);

        img {
            &:hover {
                transition: 0.3s;
                filter: invert(100%) drop-shadow(0 3px 10px #000000);
            }
        }
    }

    .room-list {
        background: rgba(0, 0, 0, 0.37);

        mat-icon {
            &:hover {
                transition: 0.3s;
                filter: invert(100%) drop-shadow(0 3px 10px #000000);
            }
        }
    }

    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #3071c2;
    }

    ::ng-deep .mat-tab-header {
        background: rgba(0, 0, 0, 0.38);
    }

    ::ng-deep .mat-tab-label {
        color: #ffffff;
    }

    .tab-label {
        ::ng-deep .mat-badge-content {
            background: #3071c2;
            font-weight: 400;
            color: white !important;
        }
    }
}

.dark {
    transition: .3s;
    background: #273038;

    ::ng-deep .mat-drawer {
        background: #273038;
    }

    ::ng-deep .mat-drawer-container {
        transition: 0.3s;
        background: #273038;
    }


    .add-btn {
        background: rgba(0, 0, 0, 0.18);

        img {
            filter: invert(100%);
            &:hover {
                transition: 0.3s;
                filter: invert(100%) drop-shadow(0 3px 10px white);
            }
        }
    }

    .room-list {
        background: rgba(0, 0, 0, 0.18);

        mat-icon {
            filter: invert(100%);
            &:hover {
                transition: 0.3s;
                filter: invert(100%) drop-shadow(0 3px 10px white);
            }
        }
    }

    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #f3a311;
    }

    ::ng-deep .mat-tab-header {
        background: rgba(0, 0, 0, 0.18);
    }

    ::ng-deep .mat-tab-label {
        color: #f3a311;
    }

    .tab-label {
        ::ng-deep .mat-badge-content {
            background: #ff6162;
            font-weight: 400;
            color: white !important;
        }
    }
}
