.chat-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #003b3f, rgb(51, 51, 70));

    .add-btn {
        background: rgba(0, 0, 0, 0.18);
        position: absolute;
        transition: 0.3s;
        width: 50px;
        height: 47px;

        img {
            border-radius: 50px;
            width: 100%;
            height: 100%;
            filter: invert(100%);
            &:hover {
                transition: 0.3s;
                background: rgba(255, 255, 255, 0.44);
            }
        }
    }
}

::ng-deep .mat-tab-label {
    font-size: 22px;
    user-select: none;
    color: #b3ade3;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}

::ng-deep .mat-tab-header {
    margin-left: 50px;
}

::ng-deep .mat-tab-group {
    width: 100%;
}

::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}

::ng-deep .mat-tab-header {
    height: 45px;
    background: rgba(0, 0, 0, 0.18);
}

::ng-deep .mat-tab-header, .mat-tab-nav-bar {
    border-top: 1px solid black;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #b3ade3;
}
