<div class="chat-wrapper">
    <div class="add-btn" (click)="createRoom()" matRipple>
        <img src="../../../assets/imgs/plus-icon-plus-math-icon-download-icons-9.png" alt="">
    </div>
    <div class="room-list" matRipple (click)="toggleOnList()" #search>
        <mat-icon>search</mat-icon>
    </div>
    <mat-tab-group (selectedIndexChange)="onTabChange($event)" [(selectedIndex)]="selectedTab">
        <ng-container *ngIf="!isRoomList">
            <mat-tab *ngFor="let room of rooms" [label]="room.title" [id]="room._id">
                <app-room [currentRoom]="room"
                          [newMessage]="newMessage"
                          [tabIndex]="currentTabIndex"
                          (leaveFromChat)="leaveRoom($event)"
                ></app-room>
            </mat-tab>
        </ng-container>
        <ng-container *ngIf="isRoomList">
            <mat-tab [label]="'Rooms'">
                <app-room-list [rooms]="rooms" (onSelectedRoom)="toggleRoom($event)"></app-room-list>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</div>
