$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

.room-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    ::ng-deep .mat-list {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        padding: 0;
        overflow: hidden;
    }

    .chat-menu {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        min-height: 48px;

        .room-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ::ng-deep .mat-badge-content {
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                font-weight: 300;
            }

            .room-title {
                mat-icon {
                    position: relative;
                    bottom: 2px;
                    margin-right: 20px;
                    font-size: 28px;
                }
                display: flex;
                align-items: center;
                margin-left: 35px;
                font-family: 'Montserrat Alternates', sans-serif;
                font-weight: 400;

                @include sm {
                    font-size: 18px;
                }
                @include md {
                    font-size: 24px;
                }

            }
            button {
                height: 100%;
            }
        }

        .menu-items {
            flex-direction: row;
            justify-content: flex-start;

            mat-list-item {
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }

    .input-area {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 20px 0 20px 40px;
        height: auto;

        .input-message {
            transition: 0.5s;
            display: inline-block;
            width: 70%;
            height: auto;
            border-radius: 30px;
            font-size: 19px;
            box-sizing: border-box;

            &:focus {
                transition: 0.5s;
                box-shadow: 0 0 15px black;
            }
        }

        .composer_rich_textarea {
            border: 0;
            outline: none;
            padding: 10px 25px 10px 20px;
            margin: 0;
            line-height: 20px;
            width: 100%;
            height: auto;
            min-height: 40px;
            max-height: 250px;
            box-sizing: border-box;
            font-family: 'Quicksand', "Noto Color Emoji" ,"Helvetica Neue", sans-serif;
        }

        .wrap-btn {
            transition: 0.3s;
            display: inline-block;
            z-index: 2;
            background: transparent;
            border-radius: 50px;
            width: 70px;
            height: 70px;
            margin: 0 0 0 20px;
            text-align: center;

            .send-btn {
                transition: 0.3s;
                padding-left: 5px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .smile-btn {
                transition: 0.3s;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }
    ::ng-deep .ps__thumb-y {
        background-color: rgba(0, 0, 0, 0.73);
    }
}

.mt-lst {

    .message-item {
        max-width: 80% !important;
    }

    ::ng-deep .mat-list-item {
        height: auto;
    }

    .system {
        ::ng-deep  .mat-list-item-content {
            display: flex;
            flex-direction: column !important;
            align-items: center;
            margin: 8px 20px 8px 20px;
        }
    }

    .own {
        ::ng-deep  .mat-list-item-content {
            display: flex;
            flex-direction: column !important;
            align-items: flex-end ;
            margin: 8px 20px 8px 20px;
            padding: 0;
        }
    }

    .foreign {
        ::ng-deep  .mat-list-item-content {
            display: flex;
            flex-direction: column !important;
            align-items: flex-start ;
            margin: 8px 20px 8px 20px;
            padding: 0;
        }
    }
}

.light {
    .chat-menu {
        transition: 0.3s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

        ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
            background-color: #3071c2;
        }

        ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
            background-color: #2a529c;
        }

        .theme-icon {
            transition: 0.3s;
            user-select: none;
            font-size: 30px;
            color: black;
        }

        .room-info {

            ::ng-deep .mat-badge-content {
                transition: 0.3s;
                background: #3071c2;
                color: white;
            }

            .room-title {
                transition: 0.3s;
                color: black;
            }
        }

        background: rgba(0, 0, 0, 0.38);
        //background: linear-gradient(90deg, rgba(0, 0, 0, 0.38), transparent);
        .menu-items {
            background: transparent;
            mat-divider {
                background-color: rgba(85, 85, 85, 0.57) !important;
            }

            mat-list-item {
                user-select: none;
                color: black;

                mat-icon {
                    transition: 0.3s;
                    color: #000000;
                }

                &:hover {
                    transition: 0.3s;
                    filter: drop-shadow(0 3px 10px #000000);
                    color: white;

                    mat-icon {
                        transition: 0.3s;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .input-area {
        border-top: 2px solid rgba(0, 0, 0, 0.22);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.31);
        //background: rgba(0, 0, 0, 0.08);
        .input-message {
            background-color: rgb(247, 255, 252);

            &:focus {
                transition: 0.5s;
                box-shadow: 0 0 15px rgb(0, 0, 0);
            }
        }

        .wrap-btn {
            user-select: none;
            transition: 0.3s;
            background: transparent;

            .send-btn {
                transition: .3s;
                &:hover {
                    transition: .3s;
                    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0)) invert(100%);
                }
            }

            .smile-btn {
                transition: .3s;
                &:hover {
                    transition: .3s;
                    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0)) invert(100%);
                }
            }

            &:hover {
                transition: .3s;
                background: rgba(0, 0, 0, 0.53);
            }
        }
    }
}


.dark {
    .chat-menu {
        transition: 0.3s;

        .room-info {

            ::ng-deep .mat-badge-content {
                background: #f44336;
                color: white;
            }

            .room-title {
                transition: 0.3s;
                color: white;
            }

            button {
                color: white;
            }
        }
        background: rgba(0, 0, 0, 0.51);
        //background: linear-gradient(90deg, rgba(0, 0, 0, 0.18), transparent);
        .menu-items {
            mat-divider {
                background-color: rgba(255, 255, 255, 0.27) !important;
            }

            mat-list-item {
                color: white;

                mat-icon {
                    transition: 0.3s;
                    color: #f3a311;
                }

                &:hover {
                    transition: 0.3s;
                    filter: drop-shadow(0 3px 10px white);
                }
            }
        }
    }

    .input-area {
        background: rgba(0, 0, 0, 0.18);
        //background: linear-gradient(90deg, rgba(0, 0, 0, 0.18), transparent);
        .input-message {
            background-color: rgb(247, 255, 252);

            &:focus {
                transition: 0.5s;
                box-shadow: 0 0 15px rgb(255, 255, 255);
            }
        }

        .wrap-btn {
            transition: 0.3s;
            background: transparent;

            .send-btn {
                transition: .3s;
                filter: invert(100%);
                &:hover {
                    transition: .3s;
                    filter: drop-shadow(0 5px 10px black);
                }
            }

            .smile-btn {
                transition: .3s;
                filter: invert(100%);
                &:hover {
                    transition: .3s;
                    filter: drop-shadow(0 5px 10px black);
                }
            }

            &:hover {
                transition: .3s;
                background: rgba(255, 255, 255, 0.53);
            }
        }
    }
}
