<div class="room-wrapper" [ngClass]="{'dark': theme === 'dark', 'light': theme === 'light'}">
    <div class="chat-menu">
        <ng-container *ngIf="currentRoom._id !== 'common'; else ifCommon">
            <div class="room-info">
                <button mat-button matRipple
                        [matRippleColor]="'rgba(51, 51, 70, 0.2)'"
                        (click)="openRoomList()"
                >
                    <mat-icon [matBadge]="overallUnreadMessages.toString()"
                              matBadgePosition="above before"
                              [matBadgeHidden]="overallUnreadMessages === 0">
                        vertical_split
                    </mat-icon>
                </button>
                <span class="room-title">
                <mat-icon>meeting_room</mat-icon>
                    {{currentRoom.title}}
            </span>
            </div>
            <mat-list class="menu-items">
                <mat-list-item matRipple [matRippleColor]="'rgba(51, 51, 70, 0.2)'" (click)="inviteUsers()">
                    <mat-icon>person_add</mat-icon>
                </mat-list-item>
                <mat-divider vertical></mat-divider>
                <mat-list-item matRipple [matRippleColor]="'rgba(51, 51, 70, 0.2)'" (click)="leaveRoom()">
                    <mat-icon>exit_to_app</mat-icon>
                </mat-list-item>
                <mat-divider vertical *ngIf="currentRoom.creator._id === me"></mat-divider>
                <mat-list-item matRipple
                               [matRippleColor]="'rgba(51, 51, 70, 0.2)'"
                               (click)="roomSettings()"
                               *ngIf="currentRoom.creator._id === me">
                    <mat-icon>settings</mat-icon>
                </mat-list-item>
            </mat-list>
        </ng-container>
        <ng-template #ifCommon>
            <div class="room-info">
                <button mat-button matRipple [matRippleColor]="'rgba(51, 51, 70, 0.2)'" (click)="openRoomList()">
                    <mat-icon [matBadge]="overallUnreadMessages.toString()"
                              matBadgePosition="above before"
                              [matBadgeHidden]="overallUnreadMessages === 0">
                        vertical_split
                    </mat-icon>
                </button>
                <span class="room-title">
                <mat-icon>meeting_room</mat-icon>
                    {{currentRoom.title}}
            </span>
            </div>
        </ng-template>
    </div>
    <perfect-scrollbar [config]="config" (psScrollY)="onScroll($event)">
        <mat-list class="mt-lst">
            <mat-list-item *ngFor="let message of messages" [ngClass]="{
                'own': message.creator._id === me && !message.isSystemMessage,
                'foreign' : message.creator._id !== me && !message.isSystemMessage,
                'system' : message.isSystemMessage}">
                <div class="message-item">
                    <app-message-item [message]="message"
                                      [users]="users"
                                      (loadRequest)="messageRequest($event)"
                                      (viewChange)="onViewportChange($event)">
                    </app-message-item>
                </div>
            </mat-list-item>
        </mat-list>
    </perfect-scrollbar>

    <div class="input-area">
        <div class="input-message" dir="auto">
            <perfect-scrollbar [config]="config" [autoPropagation]="true">
                <div class="composer_rich_textarea"
                     contenteditable="true"
                     #inputText
                     [id]="currentRoom.title"
                     (keydown.enter)="sendMessage($event)">
                </div>
            </perfect-scrollbar>
        </div>
        <div class="wrap-btn">
            <div class="send-btn" (click)="sendMessage($event)">
                <img style="width: 50px; height: 50px" class="send-img" src="../../../assets/imgs/373675-200.png"
                     alt="">
            </div>
        </div>
        <div class="wrap-btn" (click)="openSmiles()">
            <div class="smile-btn">
                <img style="width: 50px; height: 50px" src="../../../assets/imgs/smile.png" alt="" #smileImg>
            </div>
        </div>
    </div>
</div>
