::ng-deep .mat-dialog-container {
    padding: 0;
}

.dialog-wrapper {
    position: relative;
    padding: 24px;
    box-sizing: border-box;
    height: 100%;

    mat-slide-toggle {
        margin-bottom: 20px;
    }

    .user-container {
        display: flex;
        align-items: center;
        .avatar {
            margin-left: 10px;
            width: 30px;
            min-width: 30px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50px;
            }
        }
    }



    .dialog-content-wrapper {
        padding: 20px;
    }

    h1 {

        font-family: "Montserrat Alternates", sans-serif;
        text-align: center;
        font-size: 28px;

        span {
            outline: none;
            text-decoration: none;
            margin-right: 25px;
        }

        mat-icon {
            cursor: pointer;
        }
    }

    .part-wrapper {
        display: flex;
        align-items: flex-start;

        h2 {
            margin-right: 20px;
        }
    }

    .part-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        span {
            margin-left: 15px;
        }
    }

    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        background: transparent !important;

        i {
            font-size: 30px;
        }
    }

    .part-input {
        margin-right: 30px;
    }

    .done {
        position: relative;
        top: 10px;
        right: 10px;
    }

    .deleting-area {
        mat-form-field {
            margin-right: 15px;
        }
    }

    .create-btn {
        font-size: 25px !important;
        font-weight: 300;
        padding: 5px 20px;
        margin-bottom: 20px;
    }

    ::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
        padding: 0 10px;
        min-width: 20px;
        min-height: 0;
        border-radius: 50px;
    }

    ::ng-deep .mat-form-field-infix {
        width: 310px;
    }

    ::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
        border-radius: 50px;
    }
}

.light {
    color: black;
    background: #e6e7f2;

    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #3071c2;
    }

    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: #233f7d;
    }

    ::ng-deep .mat-list-item {
        color: black;
    }

    ::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
        background: rgba(0, 0, 0, 0.18);
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
        color: black;
    }

    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: #f44336;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: black;
    }

    ::ng-deep mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: black;
    }

}

.dark {
    color: white;
    background: #273038;

    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #f3a311;
    }

    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: #a97010;
    }

    ::ng-deep .mat-list-item {
        color: white;
    }

    ::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
        background: rgba(255, 255, 255, 0.11);
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
        color: white;
    }

    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: #f44336;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: white;
    }

    ::ng-deep mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: white;
    }
}
