.nav-wrapper {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(76, 75, 98, 0.69);
    padding: 10px 60px 5px 0px;

    .brand-logo {
        color: #1d1b1b;
        user-select: none;
        margin-left: 50px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 4vw;
        line-height: 20px;
        font-family: 'Bungee Inline', cursive;

        &:hover {
            transition: 0.3s;
            filter: drop-shadow(5px 10px 7px black);
            transform: scale(1.1) translateX(70px) ;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;

        .nav-link {
            user-select: none;
            transition: 0.3s;
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 300;
            display: flex;
            justify-content: center;
            border-radius: 50px;
            background-color: #1d1b1b;
            color: white;
            font-size: 1.3vw;
            animation: piu-piu 10s ease-in-out infinite;

            &:first-child {
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0 0 15px black;
                }
            }
        }
    }
}

.auth-block {
    height: 100%;

}

@keyframes piu-piu {
    0% {

    }
    1% {
        transform: translateY(-10px);
    }
    4% {
        transform: translateY(0px);
    }
    7% {
        transform: translateY(-10px);
    }
    10% {
        transform: translateY(0px);
    }
}
