<div class="nav-wrapper" [ngClass]="{'center': !isUser, 'dark': theme === 'dark', 'light': theme === 'light'}">
    <span class="brand-logo">CHATOS-LAVANDOS</span>

    <div class="theme-chooser" *ngIf="isUser">
        <mat-icon class="theme-icon">wb_sunny</mat-icon>
        <mat-slide-toggle
            class="example-margin"
            [checked]="theme === 'dark'"
            (change)="toggleTheme()"
        >
        </mat-slide-toggle>
        <mat-icon class="theme-icon">brightness_3</mat-icon>
    </div>

    <div class="nav-links" *ngIf="isUser">
        <div class="c-white">
            <div class="avatar"><img [src]="user.avatar" alt=""></div>
            {{user.name}}
        </div>
        <div class="nav-link" (click)="logOut()">
            <span>Log out</span>
        </div>
    </div>
</div>
