.contact-list-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    //background: rgb(51, 51, 70);
    background: transparent;
    flex-direction: column;

    .list-title {
        display: flex;
        justify-content: center;
        font-family: 'Montserrat Alternates', sans-serif;
        align-items: center;
        width: 100%;
        color: white;
        height: 47px;
        background: rgba(0, 0, 0, 0.51);

        p {
            font-weight: 300;
            font-size: 30px;
        }
    }

    .contact-list-item {
        cursor: pointer;
        font-size: 20px;
        font-family: 'Muli', sans-serif;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        margin-left: 20px;
    }

    ::ng-deep .ps__thumb-y {
        background-color: rgba(0, 0, 0, 0.73);
    }

    .material-icons {
        color: white;
        font-size: 15px;
    }


    .creator  {
        border-bottom: 2px solid white;
        font-weight: 600;
    }
}
