<div class="sign-in-wrapper">
    <img src="../../assets/imgs/pills.jpg" alt="">
    <h1>Choose your pill to start using CHATOS-LAVANDOS</h1>
    <mat-list class="btns-wrapper">
        <a [href]="url + '/auth'" >
            <mat-list-item class="nav-link">
                <span>Sign in with Google</span>
            </mat-list-item>
        </a>
        <a [href]="url + '/auth'">
            <mat-list-item class="nav-link2">
                <span>Sign in with Google</span>
            </mat-list-item>
        </a>
    </mat-list>
</div>
