<div class="sign-in-wrapper">
    <h1>Welcome to the Chatos-Lavandos</h1>
    <div class="description">
        <p>It's simple application which can help you with communication between yourself and your friends</p>
        <small>Have a nice chatting! :)</small>
    </div>
    <mat-list class="btns-wrapper">
        <a [href]="url + '/auth/google'" >
            <mat-list-item class="nav-link">
                <span>Sign in with Google</span>
            </mat-list-item>
        </a>
        <a [href]="url + '/auth/github'">
            <mat-list-item class="nav-link2">
                <span>Sign in with Github</span>
            </mat-list-item>
        </a>
    </mat-list>
</div>
